<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="kopator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <kopator.Properties.Settings>
            <setting name="Source" serializeAs="String">
                <value />
            </setting>
            <setting name="Destiny" serializeAs="String">
                <value />
            </setting>
            <setting name="Cut" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="TabPage" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Collect" serializeAs="String">
                <value />
            </setting>
            <setting name="Ignore" serializeAs="String">
                <value />
            </setting>
            <setting name="CatDestinyFile" serializeAs="String">
                <value />
            </setting>
            <setting name="CatSource" serializeAs="String">
                <value />
            </setting>
            <setting name="CatType" serializeAs="String">
                <value>jpg</value>
            </setting>
            <setting name="CatExportType" serializeAs="String">
                <value>csv</value>
            </setting>
        </kopator.Properties.Settings>
    </userSettings>
</configuration>
